*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh + 3.4%);
    width: 80px;
    background-color: #12171e;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}

.sidebar-title{
    font-weight: 600;
}

.sidebar.active ~ .main-content{
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active{
    width: 250px;
}

.sidebar #sidebar-btn{
    position: absolute;
    color: #ffff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;  
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #sidebar-btn{
    left: 90%;
} 

.sidebar .sidebar-top .sidebar-logo{
    color: #ffff;
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .sidebar-top .sidebar-logo{
    opacity: 1;
}

.sidebar-top .sidebar-top{
    font-size: 2rem;
    margin-right: 5px;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p{
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a {
    color: #ffff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover {
    background-color: #ffff;
    color: #12171e;
}

.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .sidebar-nav-item{
    opacity: 0;
    display: none;
}

.sidebar.active .sidebar-nav-item{
    opacity: 1;
    display: inline-block;
}

.sidebar ul li .sidebar-tooltip {
    position: absolute;
    left: 125px;
    top: 50px;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    padding: 0.4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    display: none;
}

.sidebar ul li:hover .sidebar-tooltip {
    display: flex;
}

.sidebar.active ul li .sidebar-tooltip{
    display: none;
}

.main-content{
    position: relative;
    background-color: rgb(98, 98, 100);
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-page{
    background-color: #eeee;
    height: 100vh;
    width: 75rem
}